fastapi
uvicorn
yfinance
pandas
pandas-ta==0.3.14b0
langgraph
langchain-openai
xgboost
shap
tensorflow==2.13.0
scikit-learn
python-dotenv
websockets
PyPortfolioOpt
PyGAD
httpx
numpy
requests
beautifulsoup4
textblob
fake-useragent
lxml
