fastapi
uvicorn
yfinance
pandas
ta
langgraph
langchain-openai
xgboost
shap
tensorflow
scikit-learn
python-dotenv
websockets
PyPortfolioOpt
PyGAD
httpx
numpy
requests
beautifulsoup4
textblob
fake-useragent
lxml
